@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}


.bgs {
	background: contain;
}

.bg {
	height: 100vh;
	width: 99vw;
}

.bgs :nth-child(1) {
	background: url(../img/bg0.jpg) top center;
}
.bgs :nth-child(2) {
	background: url(../img/bg1.jpg) top center;
}
.bgs :nth-child(3) {
	background: url(../img/bg2.jpg) top center;
}
.bgs :nth-child(4) {
	background: url(../img/bg3.jpg) top center;
}
.bgs :nth-child(5) {
	background: url(../img/bg4.jpg) top center;
}


.text {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 25vw;

	height: 100vh;
	width: 100vw;

	background: white;
	color: black;
	mix-blend-mode: screen;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}